*{
    font-family: 'Raleway';
}

.ContainerLogin{
    background-image: url('../../../assets/pattern2.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.containerResetPass{
    background-image: url('../../../assets/pattern2.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.inputLogin input{
    border: 2px solid #f37352;
    padding: .2rem;
    margin-top: .6rem;
    border-radius: .3rem;
    width: 100%;
}

.resetInput{
    width: 100%;
}

.resetInput input{
    background-color: transparent;
    border-bottom: 1px solid #f37352;
    margin-bottom: 1rem;
    width: 100%;
}

.label{
    color: rgb(160, 19, 19);
    font-weight: bold;
    margin-top: 1rem;
    font-size: .9rem;
}

.buttonEnviar{
    margin-top: 1rem;
}

.buttonEnviar button, .buttonResetPass button{
    background-color: #2b2c91;
    color: white;
    font-weight: bold;
    padding: .4rem 2rem;
    border-radius: .3rem;
}

.buttonEnviar button:hover{
    background-color: #21226b;
}

.newAccountButton{
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.textNewAccount{
    color: black;
}

.resetPass{
    font-weight: 600;
    color: white;
    margin-top: .5rem;
    cursor: pointer;
}

.newAccountButton:hover, .resetPass:hover{
    color: #2b2c91;
}

